@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    
    --body-color: #ffffff;
    --sidebar-color: rgb(57, 66, 38);
    --primary-color: #ffffff;
    --primary-color-light: #F6F5FF;
    --toggle-color: rgb(255, 255, 255);
    --text-color: #ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar header{
    position: relative;
}

.sidebar header .imagem-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .imagem-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .imagem-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.pai{
   
    width: 70%;
    height: 20%;
}

.cad{
    width: 80%;
    height: 20%;
    background-color: #394226;
    margin-top: 10%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resultados{
    margin-top: 30px;
    margin-left: 40%;
    width: 80%;
    
    
}


#cadastroreg{
    
    width: 45%;
    height: 45% ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 45px;
    border: black solid 1px;
    border-radius: 20px;
    align-items: center;        
}

body[page=lista]#listareg{
    display: block;
}

body[page=cadastro]#cadastroreg{
    display: block;
}

table{
    width: 70%;
    border-collapse: collapse;
}

table,th,
table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
    background-color: white;

   
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #394226;
    color: white;
    margin: 3px;
    padding: 10px 15px;
}

.but{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(253, 5, 5);
    color: white;
    margin: 3px;
    padding: 10px 15px;

}

button.cinza{
    background-color: rgb(253, 5, 5);
    color: 666;
}

button:hover{
    opacity: 0.8;
}
input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}
label{
    background-color: white;
    height: fit-content;
}

label>div{
    display: flex;
}

label>div>input{
    flex: 1;
}


.tabela-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.tabela {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.tabela td, .tabela th {
    text-align: center;
    padding: 8px;
}

.tabela td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.tabela thead th {
    color: #ffffff;
    background: rgb(57, 66, 38);
}


.tabela thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(57, 66, 38);
}

.tabela tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .tabela {
        display: block;
        width: 100%;
    }
    .tabela-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .tabela thead, .tabela tbody, .tabela thead th {
        display: block;
    }
    .tabela thead th:last-child{
        border-bottom: none;
    }
    .tabela thead {
        float: left;
    }
    .tabela tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .tabela td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .tabela thead th {
        text-align: left;
        border-bottom: 1px solid #000000;
    }
    .tabela tbody tr {
        display: table-cell;
    }
    .tabela tbody tr:nth-child(odd) {
        background: none;
    }
    .tabela tr:nth-child(even) {
        background: transparent;
    }
    .tabela tr td:nth-child(odd) {
        background: #000000;
        border-right: 1px solid #000000;
    }
    .tabela tr td:nth-child(even) {
        border-right: 1px solid #000000;
    }
    .tabela tbody td {
        display: block;
        text-align: center;
    }
}