@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.container{
    width: 75%;
    height: 550px;
    background-color: #394226;
    margin-left: 21%;
    margin-top: 3%;
    border-radius: 10px;

}

.titulo{
    display: flex;
    justify-content: center;
}
.titulo p{
    margin-top: 5%;
    font-size: 43px;
    font-family: 'MontSerrat', sans-serif;
    color: #ffff;
    
}
.card{
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 25%;
    margin-top: 7%;
    margin-left:10%;
    border-radius: 10px;
    display:flexbox;
    align-items: center;
}
.card h2{
    text-align: center;
    color: #394226;
}
.card p{
    margin-left: 5%;
    width: 90%;
    color: #394226;
}
.card-2{
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 25%;
    margin-top: 4%;
    margin-left:10%;
    border-radius: 10px;
}
.card-2 h2{
    margin-left: 28%;
    color: #394226;
}
.card-2 p{
    margin-left: 5%;
    width: 90%;
    color: #394226;
}
.card-3{
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 25%;
    margin-top: -32%;
    margin-left:55%;
    border-radius: 10px;
}

.card-3 h2{
    margin-left: 32%;
    color: #394226;
}
.card-3 p{
    margin-left: 5%;
    width: 90%;
    color: #394226;
}
.card-4{
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 25%;
    margin-top: 4%;
    margin-left:55%;
    border-radius: 10px;
}
.card-4 h2{
    margin-left: 12%;
    color: #394226;
}
.card-4 p{
    margin-left: 5%;
    width: 90%;
    color: #394226;
}

.botao-cards {
    margin-top:-2%;
    background: rgb(57, 66, 38);
    border: 1px solid rgb(57, 66, 38);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 58%;
    width: 38%;
  }
  
  .botao-cards:hover,
  .botao-cards:active {
    background-color: initial;
    background-position: 0 0;
    color: rgb(57, 66, 38);
  }
  
  .botao-cards:active {
    opacity: .5;
  }