@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.inicio{
    height: 100%;
    width:  100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .titulo{
    margin-top: 50px;
    margin-left: 125px;
    /* font-family: 'Montserrat' ; */

}

.cards{
    height: 100%;
    width:  90%;
    margin-top: 10px;
    margin-left: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.item-inicio{
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid;
    background-color: #394226;
    border-color: rgb(57, 66, 38);
    border-radius: 10px;
    position: relative;
    
    
}

button{
border: none;
border-radius: 4px;
cursor: pointer;
margin: 3px;
padding: 5px 10px;
margin-left: 200px;
text-decoration: none;
}

p{
    color: white;
}

button a{
    text-decoration: none;
    color: black;
}
