/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    
    --body-color: #ffffff;
    --sidebar-color: rgb(57, 66, 38);
    --primary-color: #ffffff;
    --primary-color-light: #F6F5FF;
    --toggle-color: rgb(255, 255, 255);
    --text-color: #ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar header{
    position: relative;
}

.sidebar header .imagem-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .imagem-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .imagem-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}    
.sidebar .menu-bar{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.home{
    top: 0;
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.botao-content{
    margin-bottom: 20px;
}

.botaozin {
    margin-top: 2%;
    background: rgb(57, 66, 38);
    border: 1px solid rgb(57, 66, 38);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .botaozin:hover,
  .botaozin:active {
    background-color: initial;
    background-position: 0 0;
    color: rgb(57, 66, 38);
  }
  
  .botaozin:active {
    opacity: .5;
  }

  .div-grafico{
    margin-top: 5px;
    margin-left: 18%;
    width: 80%;
    height: 550px;
    
}
.div-grafico .div-fundo .titulo-grafico {
    color: rgb(57, 66, 38);
    font-size: 20px;
    margin-top: 15px;
    font-family: 'MontSerrat';
    position: absolute;
    font-weight: 500;
}

.div-fundo {
    border-radius: 10px;
    width: 50%;
    height: 55%;
    margin-top: 1%;
    margin-left: 7%;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    justify-content: center;
    box-shadow: 0 0 1em rgb(57, 66, 38);
}

.Grafico1 {
    margin-top: 33px;
    font-family: 'Work Sans', sans-serif;
    color: grey;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.Grafico1 p {
    margin-left: 70px;
}

#meugrafico1 {
    position: absolute;
    height: 80px;
    width: 80px;
}
.analitycs{
    color: rgb(57, 66, 38);
    width: 15%;
    height: 83%;
    margin-left: 78%;
    margin-top: -40.5%;
    border-radius: 10px;
    background-color: rgb(57, 66, 38);
    position:absolute;
    box-shadow: 0 0 1em rgb(57, 66, 38);
    text-align: center;
}
.analitycs img{
    margin-top: -20px;
    width: 60%;
}

.estado-normal{
    width: 80%;
    height: 28%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.estado-alerta{
    width: 80%;
    height: 28%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.estado-critico{
    width: 80%;
    height: 28%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.valor{
    
    font-size: 50px;
    font-family: 'MontSerrat', sans-serif;
    font-weight: 800;
}
.valores{
    color: rgb(57, 66, 38);
    width: 50%;
    height: 23%;
    background-color: rgb(57, 66, 38);
    margin-top: -12%;
    margin-left: 25%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(57, 66, 38);
    display: flex;
    float: left;
    text-align: center;
}
.temperatura{
    width: 30%;
    height: 80%;
    margin-top:2%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: #fff;
}
.umidade{
    width: 30%;
    height: 80%;
    margin-top:2%;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #fff;
}
.estado{
    width: 30%;
    height: 80%;
    margin-top:2%;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #fff;

}
.e-temp{
    width: 40%;
    height: 70%;
    margin-left: 10px;
}
.e-umidade{
    width: 40%;
    height: 70%;
    margin-left: 110px;
    margin-top: -40.5%;
}
.e-temp p{
    font-size: 12px;
    font-weight: 500;
}
.e-temp img{
    width: 65%;
    margin-top: 5px;
}
.e-umidade p{
    font-size: 12px;
    font-weight: 500;
}
.e-umidade img{
    width: 65%;
    margin-top: 5px;
}
