@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    
}


.div-container {
    background-color: #ffffff;
    width: 18%;
    height: 100%;
    display: flex;
}

.div-esquerda {
    
    width: 18%;
    height: 100%;
    position: absolute;
    display: flex;
}

.div-esquerda .bem-vindo {
    background-image: url(../../images/banner_irrigatec.png);
    background-size: cover;
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.div-esquerda .bem-vindo p {
    color: white;
    margin-top: 18%;
}

.div-esquerda .menu {
    background-color: rgb(57, 66, 38);
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    margin-top: 48%;
}

.menu {
    justify-content: center;

}

.menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu ul li a {
    background-color: rgb(57, 66, 38);
    color: #FFF;
    padding: 40px;
    margin-top: -9px;
    display: block;
    text-decoration: none;
    transition: background .3s;
    text-transform: uppercase;
}

.menu img {
    width: 15%;
}

.div-direita {
    background: rgb(57, 66, 38);
    background: linear-gradient(180deg, rgba(57, 66, 38, 1) 0%, rgba(126, 161, 54, 1) 62%, rgba(158, 227, 16, 1) 100%);
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    
    
}

/* .pstn-botao{  
    
    margin-left: 33%;
    padding: 10px;
    background-color: blueviolet;
    display: inline-block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

    

}

.pstn-botao:hover{

    background: aliceblue;
    color: black;
}

.modal{

    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
}

@keyframes animate{
    from{opacity: 1;}
    from{opacity: 0;}
}

.fechar{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    float: right;
    cursor: pointer;
} 
*/

.cad{
    display: flex;
}

#listareg{
    /* display: none; */
    margin-left: 40%;
}

#cadastroreg{
    /* display: none; */
    flex-direction: column;
    gap: 10px;
    margin-left: 80%;
}

body[page=lista]#listareg{
    display: block;
}

body[page=cadastro]#cadastroreg{
    display: block;
}

table{
    width: 70%;
    border-collapse: collapse;
}

table,th,
table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
    background-color: white;

   
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: white;
    margin: 3px;
    padding: 10px 15px;
}

button.cinza{
    background-color: #ccc;
    color: 666;
}

button:hover{
    opacity: 0.8;
}
input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

label>div{
    display: flex;
}

label>div>input{
    flex: 1;
}