@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
	font-family: Century Gothic;
	box-sizing: border-box;
	margin: 0px;
}
/* home e navbar */

header {
	width: 100%;
	background-image: url(banner_irrigatec.png);
	background-size: cover;
}
.inicio {
	display: flex;
	align-items: center;
	height: 95vh;
	color: white;
}

.Slogan-topo {
	margin-top: -10px;
	font-family: "Century Gothic", sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin-left: 8%;
}
.btn-Qro-Conhecer {
	font-family: "Century Gothic", sans-serif;
	width: 20%;
	text-align: center;
	display: block;
	margin-top: 30px;
	outline: none;
	color: #f7f7f7;
	background: #394226;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.8s ease;
	margin-left: 8%;
}

.Text-Topo {
	margin-left: 8%;
	font-family: "Century Gothic", sans-serif;
	font-size: 23px;
	font-weight: bold;
}

.navbar {
	margin: 0px;
	height: 16%;
    width: 100%;
    padding: 1%;
	padding-right: 70px;
    position: fixed;
    top: 0%;
    text-align: right;
    transition: 0.5s;
}

.navbar ul li {
	margin-right: 5px;
    display: inline-block;
    padding: 1% 18px;
    font-size: 20px;
    font-family:'Work Sans', sans-serif;
}

.navbar ul img{
    margin-top: -80px;
}
.img-logo{
    font-family: "Century Gothic", sans-serif;
    width:  16%;
    text-align: center;
    display: block;
    margin-top: 25px;
    outline: none;
    padding: 10px 20px;
    margin-top: -4%;
    border-radius: 10px;
    transition: 0.8s ease;
    margin-left: 0%;
}



.barra {
	background-color: #394226;
	width: 0%;
	height: 2px;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}

a:hover .barra {
	background-color: #394226;
	width: 100%;
	height: 2px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: color 0.1s;
}

.container {
	margin-top: 5%;
	text-align: center;
	font-size: 45px;
}

/* Quem somos  */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container-quem {
	display: flex;
	margin-top: 20px;
	height: 400px;
	width: 100%;
	background: rgb(57,66,38);
	background: linear-gradient(90deg, rgba(57,66,38,1) 0%, rgba(126,161,54,1) 35%, rgb(109, 156, 16) 100%);
	justify-content: space-between;
	}

.item-1 {
	height: 80%;
	width: 45%;		
	margin-top: 40px;
	margin-left: 6%;
	
	}

	.item-1 h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;


	}

	.item-1 p {
		font-family: 'Poppins', sans-serif;
		color: white;
		font-size: 20px;
		line-height: 50px;




	}

.img-quem {
	display: flex;
	height: 80%;
	width: 45%;		
	background-color:
	margin-top: 40px;
	margin-right: 3%;
	justify-content: center;
	}


.img-quem img {
	margin-top: 20px;
	width: 600px;
	height: 400px;

	







}
* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}



