@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* navbar e body */
body {
    background: rgb(89, 108, 58);
    background: linear-gradient(90deg, #596c3a 0%, rgba(158, 193, 101, 1) 52%, rgba(168, 214, 93, 1) 100%);
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.navbar {
	margin: 0px;
	height: 90px;
	width: 100%;
	padding: 1%;
	padding-right: 70px;
	top: 0%;
	text-align: right;
	transition: 0.5s;
  background-color:#CAE4A1;
  
}

.navbar ul li {
  
	margin-right: 5px;
	display: inline-block;
	padding: 1% 18px;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
}

.navbar ul img {
	margin-top: -80px;
}

.img-logo {
	font-family: "Century Gothic", sans-serif;
	width: 16%;
	text-align: center;
	display: block;
	margin-top: 25px;
	outline: none;
	padding: 10px 20px;
	margin-top: -4%;
	border-radius: 10px;
	transition: 0.8s ease;
	margin-left: 0%;
}



.barra {
  background-color: #394226;
  width: 0%;
  height: 2px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

a:hover .barra {
  background-color: #394226;
  width: 100%;
  height: 2px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

a {
  list-style-type: none;
  text-decoration: none;
  color:#000;
  cursor: pointer;
  transition: color 0.1s;
}

.container {
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: #FFFFFF;
    display: flex;
    margin-left: 30%;
    margin-top: 7%;
    border-radius: 8px;
    justify-content: center;
    flex-flow: column wrap;
}


/* card calculadora */

/* .banner .container{
    justify-content: center;
	margin-top: 5%;
    width: 40%;
    display:flex;
    align-items: center;
} */

button {
	font-family: 'Work sans', sans-serif;
	width: 80%;
	text-align: center;
	display: block;
	margin-top: 30px;
	outline: none;
	color: #f7f7f7;
	background: #394226;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.8s ease;
	margin-left: 8%;
}
.texto{
    font-family: 'Work sans', sans-serif;
    font-size: 15pt;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.texto h3{
    font-weight: 700;
}

/* .card{
} */
.ipt_class {
    margin-top: 5px;
    border: solid 1px; 
    border-color: #394226;
    border-radius: 40px;
    height: 35px;
    width: 250px;
}
.container-footer .footer-centro {
    width: 35%;
  }
  
  .container-footer .footer-centro i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .container-footer .footer-centro i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .container-footer .footer-centro p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }
  
  .container-footer .footer-centro p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .container-footer .footer-centro .info {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 27px;
  }
  
  .container-footer .footer-centro p a {
    color: lightseagreen;
    text-decoration: none;
    ;
  }
  
  .container-footer .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .container-footer .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .container-footer .footer-direita {
    width: 20%;
  }
  
  .container-footer .footer-sobre-empresa {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .container-footer .footer-sobre-empresa span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  @media (max-width: 880px) {
  
    .container-footer {
      font: bold 14px sans-serif;
    }
  
    .container-footer .footer-esquerda,
    .container-footer .footer-centro,
    .container-footer .footer-direita {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .container-footer .footer-centro i {
      margin-left: 0;
    }
  
  }
