@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
}

.div-container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
}

.div-esquerda {
    background-color: rgb(57, 66, 38);
    width: 18%;
    height: 98%;
    position: absolute;
    display: flex;
}

.div-esquerda .bem-vindo {
    background-image: url(banner_irrigatec.png);
    background-size: cover;
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.div-esquerda .bem-vindo p {
    color: white;
    margin-top: 18%;
}

.div-esquerda .menu {
    background-color: rgb(57, 66, 38);
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    margin-top: 48%;
}

.menu {
    justify-content: center;

}

.menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu ul li a {
    background-color: rgb(57, 66, 38);
    color: #FFF;
    padding: 40px;
    margin-top: -9px;
    display: block;
    text-decoration: none;
    transition: background .3s;
    text-transform: uppercase;
}

.menu img {
    width: 15%;
}

.div-umi {
    background-color: rgb(57, 66, 38);
    width: 10%;
    height: 65.5%;
    position: absolute;
    margin-left: 19%;
    margin-top: 1%;
    display: flex;
    border-radius: 6px;
}


.div-temp {
    background-color: rgb(57, 66, 38);
    width: 10%;
    height: 65.5%;
    position: absolute;
    margin-left: 30%;
    margin-top: 1%;
    display: flex;
    border-radius: 6px;
}


.div-alertas {
    background-color: rgb(57, 66, 38);
    width: 79%;
    height: 28%;
    position: absolute;
    margin-left: 19%;
    margin-top: 33%;
    display: flex;
    border-radius: 6px;

}

.div-grafico {
    background-color: white;
    width: 57.5%;
    height: 65%;
    position: absolute;
    margin-left: 41%;
    margin-top: 1%;
    display: flex;
    border-radius: 6px;
}


.div-medicao1 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 19.7%;
    margin-top: 2%;
    display: flex;
    border-radius: 6px;
}


.div-medicao2 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 19.7%;
    margin-top: 22%;
    display: flex;
    border-radius: 6px;
}


.div-medicao3 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 19.7%;
    margin-top: 12%;
    display: flex;
    border-radius: 6px;
}


.div-medicao4 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 30.6%;
    margin-top: 12%;
    display: flex;
    border-radius: 6px;
}


.div-medicao5 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 30.6%;
    margin-top: 2%;
    display: flex;
    border-radius: 6px;
}


.div-medicao6 {
    background-color: #ffffff;
    width: 8.8%;
    height: 18%;
    position: absolute;
    margin-left: 30.6%;
    margin-top: 22%;
    display: flex;
    border-radius: 6px;
}

.div-grafico .div-fundo p {
    font-size: px;
    margin-top: 15px;
    font-family: 'Work Sans';
    position: absolute;
}

.div-fundo {
    border-radius: 10px;
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    display: flex;
    position: absolute;
    justify-content: center;
}

.Grafico1 {
    margin-top: 33px;
    font-family: 'Work Sans', sans-serif;
    color: grey;
    width: 93%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Grafico1 p {
    margin-left: 70px;
}

#meugrafico1 {
    position: absolute;
    height: 80px;
    width: 80px;
}

.alert-esquerda {
    margin-top: 10px;
    margin-left: 10px;
    width: 48.5%;
    height: 90%;
    border-radius: 8px;
    background-color: #ffffff;
    float: left;
}

.alert-direita {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width: 48.5%;
    height: 90%;
    background-color: #ffffff;
}

.alert-esquerda img {
    margin-top: 10px;
    margin-left: 40px;
    width: 18%;
    padding: 10px;
    padding-left: 15px;
    float: left;
}

.alert-esquerda p {
    margin-left: 15px;
    margin-top: -15px;
    padding: 10px;
    float: left;
}

#amarelo {
    margin-left: 45px;
}

#ideal {
    margin-left: 30px;
}

.medicoes p {
    font-family: 'montserrat';
    font-size: 10px;
    
}

.alert-direita img {
    margin-top: 10px;
    padding-left: 10px ;
    margin-left: 80px;
    width: 18%;

}

.textosdir1 {
    margin-left:-50%;
    line-height: 6px;
    text-align: center;
    
}

.textosdir2 {
    text-align: center;
    margin-top: -43px;
    margin-left: 30%;
    line-height: 6px;
}
.cont{
    margin-left: 50px;
}
#azul{
    margin-left: 60px;
}

#temperature{
    margin-left: 2px;
}

#umildade{
    margin-left: 12px;
}